.div{
    display: flex;
    justify-content: space-between;
}

.heading{
    margin-top: 30px;
    font-family:cursive;
    font-size: 40px;
    color:#804148;
}
.signoutbtn{
    margin-top:15px;
    margin-right:60px;
    background-color: #100103;
    font-size: 20px;
    color:#d88d96;
    height: 30px;
}
.fa-signout{
    font-size: 20px;
    color:#d88d96;
}
.div2{
    display: flex;
    justify-content: center;
}
.search_bar{
    margin-right: 2rem;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    width:25rem;
    padding: 0.5rem;
}
.checkin{ 
    background-color: #3f1c21;
    font-size: 20px;
    color:#d88d96;
    height: 30px;
    padding:0.3rem;
}