.div{
    display: flex;
    justify-content: space-between;
}

.heading{
    margin-top: 30px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
.signoutbtn{
    margin-top:15px;
    margin-right:60px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffb6c1;
    font-size: 20px;
    color:#722f37;
    height: 30px;
}
.fa-signout{
    font-size: 20px;
    color:#722f37;
}
.div2{
    display: flex;
    justify-content: center;
}
.search_bar{
    margin-right: 2rem;
    border-radius: 20px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    width:25rem;
    padding: 0.5rem;
}
.checkin{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffb6c1;
    font-size: 20px;
    color:#722f37;
    height: 30px;
    padding:0.3rem;
}